In [1]:
#Import the dependencies
import pandas as pd
import gmaps
import requests
#Import the API key
from config import g_key

In [2]:
#Store the cities CSV into a DF
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2022-04-08 16:20:56,-33.6500,115.3333,58.69,79,93,13.18
1,1,Ushuaia,AR,2022-04-08 16:20:56,-54.8000,-68.3000,42.42,81,0,4.61
2,2,Pangnirtung,CA,2022-04-08 16:20:56,66.1451,-65.7125,10.40,85,75,5.75
3,3,Nanortalik,GL,2022-04-08 16:20:57,60.1432,-45.2371,30.27,74,15,6.42
4,4,Taoudenni,ML,2022-04-08 16:20:58,22.6783,-3.9836,99.84,5,0,8.81

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 76
What is the maximum temperature you would like for your trip? 86

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
14,14,Hithadhoo,MV,2022-04-08 16:21:02,-0.6000,73.0833,83.50,67,68,6.98
16,16,Saint-Philippe,RE,2022-04-08 16:21:03,-21.3585,55.7679,76.59,85,78,13.96
19,19,Matara,LK,2022-04-08 16:21:05,5.9485,80.5353,78.93,87,100,6.73
21,21,Itarema,BR,2022-04-08 16:21:05,-2.9248,-39.9167,83.23,76,68,11.65
23,23,Camocim,BR,2022-04-08 16:21:06,-2.9022,-40.8411,81.84,84,80,9.01
30,30,Maceio,BR,2022-04-08 16:20:32,-9.6658,-35.7353,83.64,69,75,10.36
36,36,Georgetown,MY,2022-04-08 16:19:04,5.4112,100.3354,82.33,88,20,3.44
38,38,Laguna,US,2022-04-08 16:21:12,38.4210,-121.4238,76.78,52,0,3.44
40,40,Cockburn Town,TC,2022-04-08 16:21:12,21.4612,-71.1419,78.67,78,40,19.69
41,41,Porto Novo,BJ,2022-04-08 16:21:13,6.4965,2.6036,84.02,64,99,12.41

In [11]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       5
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [12]:
#Create a DF called hotel_df store hotel names, city, country, max temp and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
14       Hithadhoo      MV     83.50  -0.6000   73.0833
16  Saint-Philippe      RE     76.59 -21.3585   55.7679
19          Matara      LK     78.93   5.9485   80.5353
21         Itarema      BR     83.23  -2.9248  -39.9167
23         Camocim      BR     81.84  -2.9022  -40.8411
30          Maceio      BR     83.64  -9.6658  -35.7353
36      Georgetown      MY     82.33   5.4112  100.3354
38          Laguna      US     76.78  38.4210 -121.4238
40   Cockburn Town      TC     78.67  21.4612  -71.1419
41      Porto Novo      BJ     84.02   6.4965    2.6036

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
14,Hithadhoo,MV,83.50,-0.6000,73.0833,Scoop Guest House
16,Saint-Philippe,RE,76.59,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
19,Matara,LK,78.93,5.9485,80.5353,Amaloh Boutique Resort
21,Itarema,BR,83.23,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
23,Camocim,BR,81.84,-2.9022,-40.8411,Ilha Praia Hotel
30,Maceio,BR,83.64,-9.6658,-35.7353,Hotel Ponta Verde Maceió
36,Georgetown,MY,82.33,5.4112,100.3354,Cititel Penang
38,Laguna,US,76.78,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
40,Cockburn Town,TC,78.67,21.4612,-71.1419,Osprey Beach Hotel
41,Porto Novo,BJ,84.02,6.4965,2.6036,Tour Eiffel Hotel Benin

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))